<launch>
  <include file="$(find moveit_allegro_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="allegro_collision_checking" pkg="moveit_allegro_test" type="collision_checking" respawn="false" output="screen">
    <rosparam command="load" file="$(find moveit_allegro_config)/config/kinematics.yaml"/>
  </node>
</launch>